.final-table {
  background-color: lavender;
  padding: 20px;
  box-sizing: border-box;
  width: 500px;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  //overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;

  td,
  th {
    padding: 10px;
  }
}
