.final-table {
  background-color: lavender;
  padding: 20px;
  box-sizing: border-box;
  width: 500px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  // flex-direction: column;
  z-index: 10000;

  td,
  th {
    padding: 10px;
  }

  .destination {
    background-color: indianred;
    margin: 5px;
    cursor: default;
    user-select: none;

    &.active {
      background-color: lightgreen;
    }
  }
}
