.player-destination-card {
  width: 88px;
  min-width: 88px;
  height: calc(100% - 5px);
  box-sizing: border-box;
  background-color: lightgrey;
  margin-left: 5px;
  padding: 5px;

  .points {
    color: grey;
  }
}
