.top-nav {
  background-color: cadetblue;
  width: 100vw;
  height: 134px;
  position: absolute;
  padding-left: 200px;
  box-sizing: border-box;
  top: 0;
  left: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
