.card-section {
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // overflow-x: scroll;

  .card {
    height: 100%;
    width: 88px;
    background-color: lightgreen;
    margin-left: 10px;
  }

  .deck {
    height: 100%;
    width: 88px;

    margin-left: 10px;
    background-position: center;
    background-size: cover;

    cursor: pointer;
  }

  .title-wrap {
    height: 100%;
    margin-left: 10px;
    font-size: 0.7rem;
    color: lightgrey;
    text-shadow: 1px 1px black;
  }
}
