.GamePage {
  .top-nav {
    background-color: lightblue;
    width: 100vw;
    height: 134px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .left-nav {
    background-color: yellow;
    width: 134px;
    height: calc(100vh - (134px * 2));

    position: absolute;
    top: 134px;
    left: 0;
  }

  .bottom-nav {
    background-color: blue;
    width: 100vw;
    height: 134px;
    position: absolute;
    top: calc(100vh - 134px);
    left: 0;
  }

  .map-wrap {
    width: calc(100vw - 134px);
    height: calc(100vh - (134px * 2));

    position: absolute;
    left: 134px;
    top: 134px;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
}
