.bottom-nav {
  z-index: 1000;
  background-color: cadetblue;
  width: 100vw;
  height: 134px;
  padding-left: 200px;
  box-sizing: border-box;
  position: absolute;
  top: calc(100vh - 134px);
  left: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .header-wrap {
    height: 100%;
    margin-left: 10px;
  }
}
