.GamePage {
  .map-wrap {
    width: calc(100vw - 134px);
    height: calc(100vh - (134px * 2));

    position: absolute;
    left: 134px;
    top: 134px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
}
