.element {
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background-color: black;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;

  &.disabled {
    cursor: not-allowed;
  }
}

.loco-element {
  width: 10px;
  height: 10px;
  //padding: 5px;
  border-radius: 1000px;
  background-color: black;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;

  &.disabled {
    cursor: not-allowed;
  }
}
